amqp==1.4.9
anyjson==0.3.3
attrs==15.2.0
billiard==3.3.0.23
celery==3.1.23
cffi==1.5.2
cryptography==1.2.2
cssselect==0.9.1
Django==1.9.4
django-celery==3.1.17
enum34==1.1.2
googleplay-api==0.1.0
idna==2.0
ipaddress==1.0.16
kombu==3.0.34
lxml==3.5.0
PredictionIO==0.9.8
protobuf==2.6.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
pyOpenSSL==0.15.1
pytz==2015.7
queuelib==1.4.2
requests==2.9.1
Scrapy==1.0.5
scrapy-djangoitem==1.0.0
service-identity==16.0.0
six==1.10.0
Twisted==15.5.0
virtualenv==13.1.2
w3lib==1.13.0
zope.interface==4.1.3
